@media (max-width: 1920px) {

    /* .logo,
    .inner {
        left: 30px;
    } */
}

@media (max-width: 1450px) {
    .site-header__wrapper {
        padding-left: 20px;
    }

    .about-content{
        padding-left: unset;
    }

    .drivingeffort-content > ul,
    .features-content{
        padding-right: unset;
    }

}

@media (max-width: 1440px) and (min-width: 1025px) {

    .logo,
    .inner {
        left: 10px;
    }

    .inner {
        bottom: 5vh;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .inner {
        bottom: 6vh;
    }

    .logo,
    .inner {
        left: 10px;
    }

    .drivingeffort-content{
        flex-direction: column;
        flex-grow: 1;
    }

    .drivingeffort-title__position{
        padding-left: unset;
    }

    .realization-content{
        flex-direction: column;
    }

    .realization-weakness,
    .list-container{
        width: 100%;
    }

    .realization-weakness__container ul{
        width: 100%; 
    }

    .realization-weakness__container ul li{
        text-align: left !important;
    }

    .operation-custom__container{
        flex-wrap: wrap;
    }

    .custom-container{
        flex-direction: column-reverse;
    }

    .custom-container__header{
        flex-direction: column;
    }

    .about-content{
        width: 100%;
    }

    .about-img{
        width: 100%;
    }
}

@media (max-width: 768px) and (min-width:555px) {
    .inner {
        bottom: 4vh;
    }

    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo,
    .inner {
        left: 10px;
    }
}


@media (max-width:554px) {
    :root {
        --font-size-base: 14px;
    }

    .inner {
        bottom: 4vh;
    }

    .logo,
    .inner {
        left: 10px;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-copyRight p {
        text-align: center;
    }

    .event-info .top-project__btn {
        min-width: 200px;
    }

    .panel-container__title {
        padding: 2px 6%;
    }

    .arrow-two,
    .arrow-one {
        flex-direction: column;
        gap: 10px;
    }

    .arrow-one__title,
    .arrow-two__title {
        background-position: left;
    }

    .rel-container {
        flex-direction: column;
    }

    .detail-content__second,
    .detail-content__first {
        flex-wrap: wrap;
    }

    .content_image img {
        width: 100%;
    }

    .walking-table {
        flex-direction: column;
    }

    .walking-table img {
        width: 100%;
    }

    .content_image_second img {
        width: 100%;
    }

    .bus-ship__calender{
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    .footer-content {
        display: none;
    }
}

/* ==== reposive exception ==== */
@media screen and (max-width: 1429px) {
    .inner {
        width: 45%;
    }
}

@media (max-width: 992px) {
    .image-flex img {
        width: 100%;
    }

    .image-flex {
        flex-wrap: wrap;
        gap: 0;
    }

    .event-leaf {
        margin-right: 0;
    }

    .event-content {
        grid-template-columns: 1fr;
    }

    .event-img {
        order: 2;
    }

    .event-img img {
        transform: scale(1.2);
    }

    .event-info {
        order: 1;
    }

}

@media screen and (max-width: 800px) {

    .pamphlet {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 50px 60px 50px 50px;
    }

    .box-container__first {
        grid-template-columns: 1fr;
    }

    .leaf-first {
        max-width: 273px;
        width: 30%;
        margin-left: 0;
    }

    .leaf-second {
        max-height: 117px;
        height: 10%;
        width: 30%;
    }

    .youtube-title {
        flex-direction: column;
        width: 100%;
        gap: 10;
    }

    .youtube-title__content,
    .leaf-first__container,
    .leaf-second__container {
        display: flex;
        width: 100%;
    }

    .youtube-title__content {
        justify-content: center;
    }

    .leaf-first__container {
        justify-content: left;
    }

    .leaf-second__container {
        justify-content: right;
    }

    .footer-list {
        margin-left: 15%;
    }

    .acccess-image img {
        width: 100%;
    }

    .detail-driving-space__item{
        max-width: unset;
    }

}

@media screen and (max-width: 767px) {
    .inner p {
        display: none;
    }

    .fs_23 {
        border-bottom: none;
    }

    .content-mobile {
        display: block;
    }

    .advertisement-image {
        grid-template-columns: repeat(2, 1fr);
    }

    .areYouKnow__container {
        grid-template-columns: 1fr;
    }

    .areYouKnow__title {
        width: 100%;
    }

    .areYouKnow__content {
        align-items: center;
    }

    .top-project__content {
        margin: 60px 0px;
        gap: 50px;
    }

    .scenic__btn {
        margin: 326px 0px 108px -17%;
    }

    .pamphlet {
        padding: 20px 30px 20px 20px;
    }

    .concept-album__item {
        width: calc(100% - 20px);
    }

    .custom-container{
        flex-direction: column-reverse;
    }

    .custom-container__header{
        flex-direction: column;
    }

    .about-content{
        width: 100%;
    }

    .about-img{
        width: 100%;
    }

    .autonomous-custom p{
        display: block;
    }

    .realization-content{
        flex-direction: column;
    }

    .list-container,
    .realization-weakness{
        width: 100%;
    }

    .drivingeffort-title__position{
        padding-left: unset;
    }

    .drivingeffort-content{
        flex-direction: column;
    }

    .item-container, .operation-item, .traffic-item{
        max-width: 100vw;
    }

}

@media screen and (max-width: 420px) {
    .pos_r {
        padding: 20px 10px;
        min-width: 200px;
    }

    .box-container__second {
        flex-wrap: wrap;
    }

    .box-container__second a {
        width: 100%;
    }

    .rel-container {
        flex-wrap: wrap;
    }

    .rel-banner {
        width: 100%;
    }

    .concept-btn__showpdf p{
        white-space: unset;
    }
}