<div class="container flex center bestsell-product">
    <h3 class="bestsell-product__title">vỏ xe cũ bán chạy</h3>
    <div class="grid bestsell-product__item">
        <a href="./productdetail.html" class="product__container">
            <div class=" flex product-container__item">
                <img class="img-config" src="./img/product-tire/SP1.svg" alt="">
                <p>võ lốp maxxis 205/65R16</p>
                <p>250.000 VNĐ</p>
            </div>
        </a>
        <a href="./productdetail.html" class="product__container">
            <div class=" flex product-container__item">
                <img class="img-config" src="./img/product-tire/SP2.svg" alt="">
                <p>võ lốp maxxis 205/65R16</p>
                <p>250.000 VNĐ</p>
            </div>
        </a>
        <a href="./productdetail.html" class="product__container">
            <div class=" flex product-container__item">
                <img class="img-config" src="./img/product-tire/SP3.svg" alt="">
                <p>võ lốp maxxis 205/65R16</p>
                <p>250.000 VNĐ</p>
            </div>
        </a>
        <a href="./productdetail.html" class="product__container">
            <div class=" flex product-container__item">
                <img class="img-config" src="./img/product-tire/SP3.svg" alt="">
                <p>võ lốp maxxis 205/65R16</p>
                <p>250.000 VNĐ</p>
            </div>
        </a>
    </div>
</div>