<div class="container flex brand-logo background-color__white">
    <h2 id="all-brand__tire">các hãng lốp</h2>
    <div class="brand-logo__list grid">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/bfgoodrich.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/bridgestone.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/dunlop.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/goodyear.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/hankook.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/maxxis.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/michelin.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/pirelli.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/toyotires.png" alt="">
        <img width="216" height="115" class="brand-logo__img" src="./img/brand/yokohama.png" alt="">
    </div>
</div>