<div class="container flex popular-products">
    <div class="flex popular-products__container">
        <h2 id="people-choose" class="popular-products__title">Mọi người cũng tìm kiếm</h2>
        <p class="popular-products__desc">
            ThanhAn Auto chuyên cung cấp các sản phẩm, phụ kiện ô tô chính hãng, được nhập khẩu trực tiếp từ các
            thương hiệu nổi tiếng trên toàn thế giới.
        </p>
    </div>
    <div class=" flex popular-products__tags">
        <a href="#" class="product-tag">Michelin</a>
        <a href="#" class="product-tag">Bridgestone</a>
        <a href="#" class="product-tag">Maxxis</a>
        <a href="#" class="product-tag">Pirelli</a>
        <a href="#" class="product-tag">Kumho</a>
        <a href="#" class="product-tag">Yokohama</a>
        <a href="#" class="product-tag">Michelin</a>
        <a href="#" class="product-tag">Bridgestone</a>
        <a href="#" class="product-tag">Maxxis</a>
        <a href="#" class="product-tag">Pirelli</a>
        <a href="#" class="product-tag">Kumho</a>
        <a href="#" class="product-tag">Yokohama</a>
        <a href="#" class="product-tag">Michelin</a>
        <a href="#" class="product-tag">Bridgestone</a>
        <a href="#" class="product-tag">Maxxis</a>
        <a href="#" class="product-tag">Pirelli</a>
        <a href="#" class="product-tag">Kumho</a>
        <a href="#" class="product-tag">Yokohama</a>
    </div>
</div>