<div class="bg-primary container-larger flex flex-col footer-container">
    <div class="flex align-center pagetop">
        <img src="./img/icon/page_top.webp" alt="">
    </div>
    <div class="flex align-center footer-logo">
        <img src="./img/logo/logo.png" alt="">
    </div>
    <div class="grid container-small-padding footer-content">
        <div class="flex flex-col footer-list">
            <a title="トップページ" href="#">トップページ</a>
            <a title="トップページ" href="#">プロジェクト</a>
        </div>
        <div class="flex flex-col footer-list">
            <a title="トップページ" href="#">マイカー交通規制の詳細</a>
            <a title="トップページ" href="#">駐車場ガイド</a>
            <a title="トップページ" href="#">シャトルバス・遊覧船</a>
            <a title="トップページ" href="#">マイカー交通規制に関するQ＆A</a>
        </div>
        <div class="flex flex-col footer-list">
            <a title="トップページ" href="#">全体構想についての概要</a>
            <a title="トップページ" href="#">推進地域</a>
            <a title="トップページ" href="#">全体構想の概要</a>
            <a title="トップページ" href="#">奥入瀬渓流の散策を楽しむための利用ルール</a>
            <a title="トップページ" href="#">現在行われているツアー</a>
        </div>
    </div>
    <div class="grid container-small-padding footer-content">
        <div class="flex flex-col footer-list">
            <a title="トップページ" href="#">奥入瀬渓流の歩き方</a>
            <a title="トップページ" href="#">これまでの活動内容</a>
            <a title="トップページ" href="#">プロジェクトチーム員</a>
        </div>
        <div class="flex flex-col footer-list">
            <a title="トップページ" href="#">アクセス</a>
            <a title="トップページ" href="#">お問い合わせ</a>
            <a title="トップページ" href="#">リンク集</a>
        </div>
        <div class="flex flex-col footer-list">
            <a title="トップページ" href="#">ご利用案内</a>
            <a title="トップページ" href="#">個人情報の取り扱いについて</a>
            <a title="トップページ" href="#">著作権・リンク</a>
        </div>
    </div>
    <div class="footer-copyRight flex align-center container-small-padding">
        <p>奥入瀬十和田利活用協議会・奥入瀬渓流エコツーリズムプロジェクト実行委員会/p>
    </div>
</div>