<a title="võ xe ô tô cũ" class="old-tire__title" href="./oldtire.html">Võ lốp xe ô tô cũ</a>
<div class="menulist__tire flex">
    <a class="find-tire" href="./tirebybrand.html" title="tìm theo hãng">tìm vỏ theo hãng xe</a>
    <ul class="list__item flex">
        <li><a title="sản phẩm" href="./product.html">Toyota innova</a></li>
        <li><a title="sản phẩm" href="./product.html">toyota vios</a></li>
        <li><a title="sản phẩm" href="./product.html">toyota corolla cross</a></li>
        <li><a title="sản phẩm" href="./product.html">vinfast vF5</a></li>
        <li><a title="sản phẩm" href="./product.html">vinfast vF7</a></li>
        <li><a title="sản phẩm" href="./product.html">mitsubishi Xforce</a></li>
        <li><a title="sản phẩm" href="./product.html">mitsubishi xpander</a></li>
        <li><a title="sản phẩm" href="./product.html">hyundai i10</a></li>
        <li><a title="sản phẩm" href="./product.html">Hyundai Accent</a></li>
        <li><a title="sản phẩm" href="./product.html">ford ranger</a></li>
        <li><a title="sản phẩm" href="./product.html">kia morning</a></li>
        <li><a title="sản phẩm" href="./product.html">suzuki XL7</a></li>
        <li><a title="sản phẩm" href="./product.html">Tìm các xe khác</a></li>
    </ul>
</div>
<div class="menulist__tire flex">
    <a class="find-tire" title="tìm lốp theo size" href="./tirebysize.html">tìm võ theo size</a>
    <ul class="list__item flex">
        <li><a title="sản phẩm" href="./product.html">205/65R16</a></li>
        <li><a title="sản phẩm" href="./product.html">165/65R14</a></li>
        <li><a title="sản phẩm" href="./product.html">185/55R16</a></li>
        <li><a title="sản phẩm" href="./product.html">205/55R16</a></li>
        <li><a title="sản phẩm" href="./product.html">215/55R17</a></li>
        <li><a title="sản phẩm" href="./product.html">265/50R20</a></li>
    </ul>
</div>