<div class="flex lang-container">
    <select id="langSelect" class="lang-select">
        <option value="" class="" disabled selected hidden>
            <p class="option-exception">Language</p>
        </option>
        <option value="ja">日本語</option>
        <option value="KR">한국어</option>
        <option value="en">English</option>
        <option value="cn">中文(繁体)</option>
        <option value="cn">中文(簡体)</option>
    </select>
</div>
<ul class="flex flex-col menu-list">
    <li><a href="oirasei/index.html">トップページ</a></li>
    <li><a href="oirasei/project.html">プロジェクトの概要</a></li>
    <li><a href="oirasei/detail.html">マイカー交通規制の詳細</a></li>
    <li><a href="/">シャトルバス運行の詳細</a></li>
    <li><a href="/">全体構想についての概要</a></li>
    <li><a href="/">奥入瀬渓流の歩き方</a></li>
    <li><a href="oirasei/activity.html">これまでの活動内容</a></li>
    <li><a href="oirasei/team.html">プロジェクトチーム員</a></li>
    <li><a href="oirasei/access.html">アクセス</a></li>
    <li><a href="oirasei/contact.html">お問い合わせ</a></li>
    <li><a href="oirasei/link.html">リンク集</a></li>
    <li><a href="oirasei/guide.html">ご利用案内</a></li>
    <li><a href="oirasei/privacy.html">個人情報の取り扱いについて</a></li>
    <li><a href="oirasei/copyright.html">著作権・リンク</a></li>
</ul>
