<div class="container flex custom-news">
    <div class="flex usefull-information ">
        <h2 id="information-title" class="information-title">thông tin hữu ích</h2>
        <div class="grid container_function">
            <div class="userfull-function">
                <img src="./img/icon-social-network/facebook-f.svg" alt="">
            </div>
            <div class="userfull-function">
                <img src="./img/icon-social-network/share.svg" alt="" srcset="">
            </div>
            <div class="userfull-function">
                <img src="./img/icon-social-network/fax.svg" alt="">
            </div>
            <a class="userfull-seemore" href="./news.html">
                <div>
                    <!-- <span>Xem thêm</span> -->
                    <img src="./img/icon-social-network/arrow-right.svg" alt="">
                </div>
            </a>
        </div>
    </div>
    <a href="#" class="bg-white news-horizontal__link">
        <div class="grid news-horizontal">
           <div class="news-horizontal__img">
                <img width="548" height="386" src="./img/news/image.png" alt="Kiến thức về lốp xe">
            </div>
            <div class="flex news-horizontal__info">
                <p class="news-horizontal__title">Kiến thức về lốp xe</p>
                <hr>
                <p class="news-horizontal__sup">
                    Lốp xe là bộ phận quan trọng ảnh hưởng trực tiếp đến an toàn và hiệu suất vận hành của
                    xe. Nhiều
                    người thường chỉ quan tâm đến động cơ mà quên mất rằng lốp xe chính là yếu tố quyết định
                    khả
                    năng bám đường, sự ổn định khi di chuyển và mức tiêu hao nhiên liệu. Hiểu rõ về cấu
                    tạo...
                </p>
                <div href="./news-detail.html" title="tìm kiếm" class="flex center bg-primary btn-seemore">
                    Xem bài viết
                </div>
            </div>
        </div>
    </a>
</div>