<div class="container flex center news-bar__position">
                 <h3 class="bestsell-product__title">õ cũ bán chay</h3>
                 <div class="grid custom-news__bar">
                     <a href="./news-detail.html" class="flex news-container__item">
                         <div class="img-wrapper">
                             <img width="548" height="386" src="./img/news/image.png" alt="Kiến thức về lốp xe">
                         </div>
                         <span class="news-container__title">CẢM BIẾN ÁP SUẤT LỐP ICAR ELLISAFE ADI4</span>
                         <p class="news-container__sup">
                             An toàn giao thông luôn là ưu tiên hàng đầu của mỗi người khi tham gia giao thông
                         </p>
                     </a>
                     <a href="./news-detail.html" class="flex news-container__item">
                         <div class="img-wrapper">
                             <img width="548" height="386" src="./img/news/image.png" alt="Kiến thức về lốp xe">
                         </div>
                         <span class="news-container__title">CẢM BIẾN ÁP SUẤT LỐP ICAR ELLISAFE ADI4</span>
                         <p class="news-container__sup">
                             An toàn giao thông luôn là ưu tiên hàng đầu của mỗi người khi tham gia giao thông
                         </p>
                     </a>
                     <a href="./news-detail.html" class="flex news-container__item">
                         <div class="img-wrapper">
                             <img width="548" height="386" src="./img/news/image.png" alt="Kiến thức về lốp xe">
                         </div>
                         <span class="news-container__title">CẢM BIẾN ÁP SUẤT LỐP ICAR ELLISAFE ADI4</span>
                         <p class="news-container__sup">
                             An toàn giao thông luôn là ưu tiên hàng đầu của mỗi người khi tham gia giao thông
                         </p>
                     </a>
                     <a href="./news-detail.html" class="flex news-container__item">
                         <div class="img-wrapper">
                             <img width="548" height="386" src="./img/news/image.png" alt="Kiến thức về lốp xe">
                         </div>
                         <span class="news-container__title">CẢM BIẾN ÁP SUẤT LỐP ICAR ELLISAFE ADI4</span>
                         <p class="news-container__sup">
                             An toàn giao thông luôn là ưu tiên hàng đầu của mỗi người khi tham gia giao thông
                         </p>
                     </a>
                 </div>
                 <a href="./news.html" title="btn xem thêm bài viêt" class="btn-seemore__news">
                    Xem thêm
                 </a>
            </div>